@page
@model SearchByKeywordModel
@{
    ViewBag.Title = "Search By Keyword";
}

<section id="messages">
    @Html.ValidationMessage("ErrorMessage")
</section>

<br />
<h4>@ViewBag.Title</h4>

<section id="keyword_form">
    <div class="card border-dark mb-3" style="min-width: 20rem;">
        <div class="card-header text-white bg-primary">Search NAICS/SIC Codes By Keyword</div>
        <div class="card-body">
            <form method="post" role="form">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="ViewModel.Keyword" name="Keyword"></label>:
                    </div>
                    <div class="col-sm-8">
                        <input asp-for="ViewModel.Keyword" maxlength="255" title="Enter a keyword that can be found in either NAICS descriptions or SIC descriptions" />
                        <span asp-validation-for="ViewModel.Keyword" class="text-danger"></span>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <label asp-for="ViewModel.SearchNAICS" name="SearchNAICS"></label>&nbsp;
                        @Html.RadioButton("KeywordOption", "NAICS", Model.ViewModel.SearchNAICS)&nbsp;
                        <label asp-for="ViewModel.SearchSIC" name="SearchSIC"></label>&nbsp;
                        @Html.RadioButton("KeywordOption", "SIC", Model.ViewModel.SearchSIC)
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-3">
                        <input type="submit" name="SearchButton" value="Search" class="btn btn-primary btn-sm" title="Search for codes, descriptions using given keyword" />&nbsp;
                        <input type="submit" name="ClearButton" value="Clear" class="btn btn-secondary btn-sm" title="Clear search output" />
                    </div>
                    <div class="col-sm-9"></div>
                </div>
                @if (Model.ViewModel.SearchResults != null && Model.ViewModel.SearchResults.Count > 0)
                {
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            Number of records found:&nbsp;@Model.ViewModel.SearchResults.Count
                        </div>
                    </div>
                }
                @if (Model.ViewModel.SearchResults != null && Model.ViewModel.SearchResults.Count > 0)
                {
                    <br />
                    <div class="card border-0 p-2">
                        <table class="table table-striped">
                            <thead>
                                <tr class="row" style="background-color: gainsboro">
                                    <th class="col-sm-1">Action</th>
                                    <th class="col-sm-1">NAICS</th>
                                    <th class="col-sm-1">SIC</th>
                                    <th class="col-sm-9">Industry Classification</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.ViewModel.SearchResults != null)
                                {
                                    foreach (var searchResult in Model.ViewModel.SearchResults)
                                    {
                                        <tr class="row">
                                            <td class="col-sm-1"><a asp-page="SearchDetail" asp-route-id="@searchResult.Id" asp-route-keyword=@Model.ViewModel.Keyword asp-route-option="@Model.ViewModel.KeywordOption">View</a></td>
                                            <td class="col-sm-1">@searchResult.NorthAmericanCode</td>
                                            <td class="col-sm-1">@searchResult.StandardCode</td>
                                            @if (Model.ViewModel.SearchNAICS)
                                            {
                                                <td class="col-sm-9">@searchResult.NorthAmericanDescription</td>
                                            }
                                            else
                                            {
                                                <td class="col-sm-9">@searchResult.StandardDescription</td>
                                            }
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div id="to-page-top">Scroll To Top</div>
                }
            </form>
        </div>
    </div>
</section> 