@page
@model SearchByCodeModel
@{
    ViewData["Title"] = "Search SIC Code Using NAICS Code";
}

<section id="messages">
    @Html.ValidationMessage("ErrorMessage")
</section>

<section id="codeform">
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" contenteditable="true">@ViewBag.Title</h3>
        </div>

        <div class="panel-body">
            <form method="post" role="form">
                @if (string.IsNullOrEmpty(Model.ViewModel.NAICSCode))
                {
                    <div class="row">
                        <div class="col-sm-2">
                            <label asp-for="ViewModel.NAICSCode" name="NAICSCode" class="control-label"></label>:
                        </div>
                        <div class="col-sm-8">
                            <input asp-for="ViewModel.NAICSCode" maxlength="6" />
                            <span asp-validation-for="ViewModel.NAICSCode" class="text-danger"></span>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-1">
                            <input type="submit" name="SearchButton" value="Search" class="btn btn-primary btn-sm" title="Search for description using given code">
                        </div>
                        <div class="col-sm-11"></div>
                    </div>
                }

                @if (!string.IsNullOrEmpty(Model.ViewModel.NAICSCode))
                {
                    <div class="row">
                        <div class="col-sm-2">
                            <label asp-for="ViewModel.NAICSCode" class="control-label"></label>:
                        </div>
                        <div class="col-sm-8">
                            @Model.ViewModel.NAICSCode
                            <input asp-for="ViewModel.NAICSCode" type="hidden" value="@Model.ViewModel.NAICSCode" />
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <label asp-for="ViewModel.NAICSDescription" class="control-label"></label>:
                        </div>
                        <div class="col-sm-8">
                            @Model.ViewModel.NAICSDescription
                            <input asp-for="ViewModel.NAICSDescription" type="hidden" value="@Model.ViewModel.NAICSDescription" />
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <label asp-for="ViewModel.SICDescriptions" class="control-label"></label>:
                        </div>
                        <div class="col-sm-8">
                            <select asp-for="ViewModel.SelectedSICDescription" asp-items="@Model.ViewModel.SICDescriptions" style="width:90%" onchange="this.form.submit();" title="Select a SIC description"></select>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>

                    <br />

                    if (!string.IsNullOrEmpty(Model.ViewModel.SICDescription))
                    {
                        <div class="well well-sm">
                            <table class="table table-striped table-condensed">
                                <thead></thead>
                                <tbody>
                                    <tr>
                                        <td class="col-sm-2">
                                            <label asp-for="ViewModel.NAICSCode" class="control-label"></label>:
                                        </td>
                                        <td class="col-sm-10">
                                            @Model.ViewModel.NAICSCode
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-2">
                                            <label asp-for="ViewModel.NAICSDescription" class="control-label"></label>:
                                        </td>
                                        <td class="col-sm-10">
                                            @Model.ViewModel.NAICSDescription
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-2">
                                            <label asp-for="ViewModel.SICCode" class="control-label"></label>:
                                        </td>
                                        <td class="col-sm-10">
                                            @Model.ViewModel.SICCode
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-2">
                                            <label asp-for="ViewModel.SICDescription" class="control-label"></label>:
                                        </td>
                                        <td class="col-sm-10">
                                            @Model.ViewModel.SICDescription
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    }

                    <div class="row">
                        <div class="col-sm-1">
                            <input type="submit" name="ClearButton" value="Clear" class="btn btn-primary btn-sm" title="Clear search output" />
                        </div>
                        <div class="col-sm-11"></div>
                    </div>
                }
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}            