@page
@model SearchByCodeModel
@{
    ViewData["Title"] = "Search By Code";
}

<section id="messages">
    @Html.ValidationMessage("ErrorMessage")
</section>

<br />
<h4>@ViewBag.Title</h4>

<section id="code_form">
    <div class="card border-dark mb-3" style="min-width: 20rem;">
        <div class="card-header text-white bg-primary">Search SIC Code Using NAICS Code</div>
        <div class="card-body">
            <form method="post" role="form">
                @if (string.IsNullOrEmpty(Model.ViewModel.NAICSCode))
                {
                    <div class="row">
                        <div class="col-sm-2">
                            <label asp-for="ViewModel.NAICSCode" name="NAICSCode"></label>:
                        </div>
                        <div class="col-sm-8">
                            <input asp-for="ViewModel.NAICSCode" maxlength="6" title = "Enter NAICS code (six digit number)" />
                            <span asp-validation-for="ViewModel.NAICSCode" class="text-danger"></span>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-1">
                            <input type="submit" name="SearchButton" value="Search" class="btn btn-primary btn-sm" title="Search for description using given code" >
                        </div>
                        <div class="col-sm-11"></div>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.ViewModel.NAICSCode))
                {
                    <div class="row">
                        <div class="col-sm-2">
                            <label asp-for="ViewModel.NAICSCode"></label>:
                        </div>
                        <div class="col-sm-8">
                            @Model.ViewModel.NAICSCode
                            <input asp-for="ViewModel.NAICSCode" type="hidden" value="@Model.ViewModel.NAICSCode" />
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <label asp-for="ViewModel.NAICSDescription"></label>:
                        </div>
                        <div class="col-sm-8">
                            @Model.ViewModel.NAICSDescription
                            <input asp-for="ViewModel.NAICSDescription" type="hidden" value="@Model.ViewModel.NAICSDescription" />
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <label asp-for="ViewModel.SICDescriptions"></label>:
                        </div>
                        <div class="col-sm-8">
                            <select asp-for="ViewModel.SelectedSICDescription" asp-items="@Model.ViewModel.SICDescriptions" style="width:90%" onchange="this.form.submit();" title="Select a SIC description"></select>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <br />
                    if (!string.IsNullOrEmpty(Model.ViewModel.SICDescription))
                    {
                        <div class="card border-0 p-2">
                            <div class="row">
                                <div class="col-sm-4" style="background-color: gainsboro"><label asp-for="ViewModel.NAICSCode"></label>:</div>
                                <div class="col-sm-8">@Model.ViewModel.NAICSCode</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4" style="background-color: gainsboro"><label asp-for="ViewModel.NAICSDescription"></label>:</div>
                                <div class="col-sm-8">@Model.ViewModel.NAICSDescription</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4" style="background-color: gainsboro"><label asp-for="ViewModel.SICCode"></label>:</div>
                                <div class="col-sm-8">@Model.ViewModel.SICCode</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4" style="background-color: gainsboro"><label asp-for="ViewModel.SICDescription"></label>:</div>
                                <div class="col-sm-8">@Model.ViewModel.SICDescription</div>
                            </div>
                        </div>
                        <br />
                    }
                    <div class="row">
                        <div class="col-sm-1">
                            <input type="submit" name="ClearButton" value="Clear" class="btn btn-primary btn-sm" title="Clear search output" />
                        </div>
                        <div class="col-sm-11"></div>
                    </div>
                }
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}            