@page
@model SearchBySelectionModel
@{
    ViewData["Title"] = "Search By Selection";
}

<section id="messages">
    @Html.ValidationMessage("ErrorMessage")
</section>

<br />
<h4>@ViewBag.Title</h4>

<section id="selection_form">
    <div class="card border-dark mb-3" style="min-width: 20rem;">
        <div class="card-header text-white bg-primary">Search NAICS/SIC Codes By Selection</div>
        <div class="card-body">
            <form method="post" role="form">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="ViewModel.IndustrySectors"></label>:
                    </div>
                    <div class="col-sm-8">
                        <select asp-for="ViewModel.SelectedIndustrySector" asp-items="@Model.ViewModel.IndustrySectors" style="width:90%" onchange="this.form.submit();" title="Select a industry sector description item"></select>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="ViewModel.IndustrySubsectors"></label>:
                    </div>
                    <div class="col-sm-8">
                        <select asp-for="ViewModel.SelectedIndustrySubsector" asp-items="@Model.ViewModel.IndustrySubsectors" style="width:90%" onchange="this.form.submit();" title="Select a industry subsector description item"></select>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="ViewModel.NAICSDescriptions"></label>:
                    </div>
                    <div class="col-sm-8">
                        <select asp-for="ViewModel.SelectedNAICSDescription" asp-items="@Model.ViewModel.NAICSDescriptions" style="width:90%" onchange="this.form.submit();" title="Select a NAICS description item"></select>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="ViewModel.SICDescriptions"></label>:
                    </div>
                    <div class="col-sm-8">
                        <select asp-for="ViewModel.SelectedSICDescription" asp-items="@Model.ViewModel.SICDescriptions" style="width:90%" onchange="this.form.submit();" title="Select a SIC description item"></select>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <br />
                @if (!string.IsNullOrEmpty(Model.ViewModel.NAICSCode))
                {
                    <div class="card border-0 p-2">
                        <div class="row">
                            <div class="col-sm-4" style="background-color: gainsboro"><label asp-for="ViewModel.NAICSCode"></label>:</div>
                            <div class="col-sm-8">@Model.ViewModel.NAICSCode</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4" style="background-color: gainsboro"><label asp-for="ViewModel.NAICSDescription"></label>:</div>
                            <div class="col-sm-8">@Model.ViewModel.NAICSDescription</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4" style="background-color: gainsboro"><label asp-for="ViewModel.SICCode"></label>:</div>
                            <div class="col-sm-8">@Model.ViewModel.SICCode</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4" style="background-color: gainsboro"><label asp-for="ViewModel.SICDescription"></label>:</div>
                            <div class="col-sm-8">@Model.ViewModel.SICDescription</div>
                        </div>
                    </div>
                    <br />
                }
                <div class="row">
                    <div class="col-sm-1">
                        <input type="submit" name="ClearButton" value="Clear" class="btn btn-primary btn-sm" title="Clear selections and search output" />
                    </div>
                    <div class="col-sm-11"></div>
                </div>
            </form>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}