@model IndustryCodes.ViewModels.SearchDetailViewModel
@{
    ViewBag.Title = "Search Detail";

    var routeValues = new RouteValueDictionary { { "useCache", true } };
}

<section id="messages">
    @Html.ValidationMessage("ErrorMessage")
</section>

<br />
<h4>@ViewBag.Title</h4>

<section id="detail_form">
    <div class="card border-dark mb-3" style="min-width: 20rem;">
        <div class="card-header text-white bg-primary">Search SIC Code Using NAICS Code</div>
        <div class="card-body">
            @using (Html.BeginForm("SearchByKeyword", "SearchByKeyword", routeValues, FormMethod.Post))
            {
                if (!string.IsNullOrEmpty(Model.NAICSCode))
                {
                    <div class="card border-0 p-2">
                        <div class="row">
                            <div class="col-sm-4" style="background-color: gainsboro">@Html.LabelFor(m => m.NAICSCode):</div>
                            <div class="col-sm-8">@Html.DisplayTextFor(m => m.NAICSCode)</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4" style="background-color: gainsboro">@Html.LabelFor(m => m.NAICSDescription):</div>
                            <div class="col-sm-8">@Html.DisplayTextFor(m => m.NAICSDescription)</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4" style="background-color: gainsboro">@Html.LabelFor(m => m.SICCode):</div>
                            <div class="col-sm-8">@Html.DisplayTextFor(m => m.SICCode)</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4" style="background-color: gainsboro">@Html.LabelFor(m => m.SICDescription):</div>
                            <div class="col-sm-8">@Html.DisplayTextFor(m => m.SICDescription)</div>
                        </div>
                    </div>
                    <br />
                }
                <div class="row">
                    <div class="col-sm-2">
                        <input type="submit" name="BackButton" value="Back" class="btn btn-primary btn-sm" title="Return to search input">
                    </div>
                    <div class="col-sm-10"></div>
                </div>
            }
        </div>
    </div>
</section>                  